In [1]:
import pandas as pd
import psycopg2 as ps
import requests

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver import ActionChains
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup
import re
import urllib
from datetime import datetime

In [2]:
#create unique course_id based on instructor and title
course_id =[]
price = []
discount_price = []
enrolled = []
title = []
instructor =[]
review_ct = []
level = []
category = []
skill = []
rating = []
video_ct = []
duration = []
publish_date = []
update_date = []

options = Options()
options.headless = True

driver = webdriver.Chrome('/opt/anaconda3/lib/python3.9/site-packages/chromedriver_autoinstaller/107/chromedriver', options=options)

max_page = 90
#한 페이지에 24 개의 강의인데 240개가 돌아옴
#총 89 * 24 

#pagination url
for i in range(90):
    print('page:', i+1)
    base = 'https://www.inflearn.com'
    page = f'/courses?order=seq&page={i+1}'
    new_url = base + page
    driver.get(new_url)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    #find all courses
    cards = soup.find_all("div", attrs ={'class':'card course course_card_item'})

    for card in cards:
        #get course id
        try:
            ccourse_id = card['fxd-data']
            ccourse_id = ccourse_id.split(',')[0].split(':')[1]
            course_id.append(ccourse_id)
        except:
            course_id.append(ccourse_id)

        #get original price
        try:
            pprice = card['fxd-data']
            pprice = pprice.split(',')[1].split(':')[1]
            price.append(pprice)
        except:
            price.append(None)

        #get discounted price
        try:
            ddiscount_price = card.find("div", attrs={"class":"pay_price"}).get_text().strip()
            discount_price.append(ddiscount_price)  
        except:
            discount_price.append(None)
        
        #get number of enrolled students
        try:
            eenrolled = card.find("span", attrs={"class":"course_card_ribbon is-shown-admin student_cnt"}).get_text().strip()
            enrolled.append(eenrolled)
        except:
            enrolled.append(None)

        #get course title
        try:
            ttitle = card.find("div", attrs={"class":"course_title"}).get_text().strip()
            title.append(ttitle)
        except:
            title.append(None)
        
        #get instructor name
        try:
            iinstructor = card.find("div", attrs={"class":"instructor"}).get_text().strip()
            instructor.append(iinstructor)
        except:
            instructor.append(None)

        #get number of reviews
        try:
            rreview_ct = card.find("span", attrs={"class":"review_cnt"}).get_text().strip()
            review_ct.append(rreview_ct)
        except:
            review_ct.append(None)

        #back card
        #get level of the course
        try:
            llevel = card.find("div", attrs={"class":"course_level"}).get_text().strip()
            level.append(llevel)
        except:
            level.append(None)

        #get category of the course
        try:
            meta = card.find("div", attrs={"class":"back_course_metas"}).get_text().strip()
            ccategory = meta.split('\n\n\n\n')[1]
            category.append(ccategory)
        except:
            category.append(None)

        #get skill of the course
        try:
            meta = card.find("div", attrs={"class":"back_course_metas"}).get_text().strip()
            sskill = meta.split('\n\n\n\n')[2]
            skill.append(sskill)
        except:
            skill.append(None)
            

        #go inside the link
        link = card.find("a", attrs ={'class':'course_card_front e_course_click'})['href']
        driver.get(base + link)
        html = driver.page_source
        isoup = BeautifulSoup(html, 'html.parser')
        
        #get rating
        try:
            rrating = isoup.find("span", attrs={"class":"cd-header__info--star"}).get_text().strip()
            rating.append(rrating)
        except:
            rating.append(None)

        #get course length, number of videos
        try:
            ccourse_length = isoup.find("span", attrs={"class":"cd-curriculum__sub-title"}).get_text().strip()
            vvideo_ct = ccourse_length.split(' ˙ ')[0].replace('총 ', '').replace('개', '').strip()
            dduration = ccourse_length.split(' ˙ ')[1].replace('의 수업', '').strip()
            video_ct.append(vvideo_ct)
            duration.append(dduration)
        except:
            video_ct.append(None)
            duration.append(None)

        #get published date
        try:
            ppublish_date = isoup.find("span", attrs={"class":"cd-date__published-date"}).get_text().strip()
            ppublish_date = ppublish_date.split(':')[1][:-1].replace('년 ', '-').replace('월 ','-').replace('일', '')
            publish_date.append(ppublish_date)
        except:
            publish_date.append(None)

        #get last update date
        try:
            uupdate_date = isoup.find("span", attrs={"class":"cd-date__last-updated-at"}).get_text().strip()
            uupdate_date = uupdate_date.split(':')[1][:-1].replace('년 ', '-').replace('월 ','-').replace('일', '')
            update_date.append(uupdate_date)
        except:
            update_date.append(None)



df = pd.DataFrame({
        'course_id': course_id,
        'discount_price': discount_price,
        'price': price,
        'enrolled': enrolled,
        'title': title,
        'instructor': instructor,
        'review_ct': review_ct,
        'level': level,
        'category': category,
        'skill': skill,
        'rating': rating,
        'video_ct': video_ct,
        'duration': duration,
        'publish_date': publish_date,
        'update_date': update_date

})


driver.close()

/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3162391179.py:21: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/opt/anaconda3/lib/python3.9/site-packages/chromedriver_autoinstaller/107/chromedriver', options=options)

page: 1
page: 2
page: 3
page: 4
page: 5
page: 6
page: 7
page: 8
page: 9
page: 10
page: 11
page: 12
page: 13
page: 14
page: 15
page: 16
page: 17
page: 18
page: 19
page: 20
page: 21
page: 22
page: 23
page: 24
page: 25
page: 26
page: 27
page: 28
page: 29
page: 30
page: 31
page: 32
page: 33
page: 34
page: 35
page: 36
page: 37
page: 38
page: 39
page: 40
page: 41
page: 42
page: 43
page: 44
page: 45
page: 46
page: 47
page: 48
page: 49
page: 50
page: 51
page: 52
page: 53
page: 54
page: 55
page: 56
page: 57
page: 58
page: 59
page: 60
page: 61
page: 62
page: 63
page: 64
page: 65
page: 66
page: 67
page: 68
page: 69
page: 70
page: 71
page: 72
page: 73
page: 74
page: 75
page: 76
page: 77
page: 78
page: 79
page: 80
page: 81
page: 82
page: 83
page: 84
page: 85
page: 86
page: 87
page: 88
page: 89
page: 90

In [3]:
from datetime import datetime
todaydate = datetime.today().strftime('%Y-%m-%d')
filename = 'inflearn' + todaydate 
filename

'inflearn2022-11-01'

In [4]:
df.to_csv(f'./{filename}.csv',index=False)

In [1]:
# import pandas as pd

# df = pd.read_csv('./inflearn1026.csv')

In [2]:
# df.drop_duplicates(keep='first', inplace=True)

In [3]:
# df[df['course_id'] == 327160]

,course_id,discount_price,price,enrolled,title,instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date
1823,327160,NaN,33000,8,"동영상으로 배우는 Siemens NX 10.0 Drafting & PMI, Part 2",플모,NaN,초급,CAD · 3D 모델링,Siemens NX,NaN,36.0,11시간 22분,2021-06-09,2021-06-09

In [6]:
# df[df['instructor']== '코드팩토리']

,course_id,discount_price,price,enrolled,title,instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date
224,328615,NaN,132000,495,"[코드팩토리] [중급] Flutter 진짜 실전! 상태관리, 캐시관리, Code G...",코드팩토리,(26),중급이상,모바일 앱 개발,"Flutter, 하이브리드 앱",(5.0),122.0,18시간 48분,2022-08-24,2022-10-18
230,328329,NaN,99000,1045,[코드팩토리] [초급] Flutter 3.0 앱 개발 - 10개의 프로젝트로 오늘 ...,코드팩토리,(60),초급,모바일 앱 개발,"Flutter, 클론코딩",(4.9),171.0,31시간 36분,2022-03-02,2022-09-17
351,328577,NaN,0,2390,[코드팩토리] [입문] Dart 언어 4시간만에 완전정복,코드팩토리,(172),입문,"프로그래밍 언어, 모바일 앱 개발","Flutter, 객체지향, 함수형 프로그래밍",(5.0),5.0,4시간 11분,2022-03-17,2022-08-22

In [5]:
# df['discount_price'].value_counts()

Series([], Name: discount_price, dtype: int64)

In [5]:

def preprocess(df):    
     #replace NaN/<NA> values with 0
    df = df.fillna(0)

    #change object to string type for string operation
    df['course_id'] = df['course_id'].astype('string')
    df['duration'] = df['duration'].astype('string')
    df['review_ct'] = df['review_ct'].astype('string')
    df['rating'] = df['rating'].astype('string')

    #cannot do string operations on NaN type -> pd.NA
    df['review_ct'] = df['review_ct'].apply(lambda x: x.replace('(', '').replace(')','').strip() )
    df['rating'] = df['rating'].apply(lambda x: x.replace('(', '').replace(')','').strip())


    return df

In [6]:
clean_df = preprocess(df)

In [11]:
def connect_to_db(host_name, dbname, port, username, password):
    try:
        conn = ps.connect(host = host_name,
                         database = dbname, 
                         user = username, 
                         password = password,
                         port = port)

    except ps.OperationalError as e:
        raise e
    else:
        print('Connected!')
    return conn


def create_table(curr):
    create_table_command = ("""CREATE TABLE IF NOT EXISTS inflearn (
                    course_id VARCHAR(255) PRIMARY KEY,
                    discount_price bigint,
                    price bigint,
                    enrolled bigint,
                    title VARCHAR(255),
                    instructor VARCHAR(255), 
                    review_ct bigint,
                    level VARCHAR(255),
                    category VARCHAR(255),
                    skill VARCHAR(255),
                    rating decimal,
                    video_ct bigint,
                    duration varchar(255),
                    publish_date date,
                    update_date date
            )""")

    curr.execute(create_table_command)

def insert_into_table(curr, course_id, discount_price, price,
                        enrolled, title, instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date):
    insert_into_table = ("""INSERT INTO inflearn (course_id, discount_price, price,
                        enrolled, title, instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date)
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);""")
    row_to_insert = (course_id, discount_price, price,
                        enrolled, title, instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date)
    curr.execute(insert_into_table, row_to_insert)


def update_row(curr, course_id, discount_price, price,
                        enrolled, title, instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date):
    query = ("""UPDATE inflearn
            SET course_id = %s,
                discount_price = %s,
                price = %s,
                enrolled = %s,
                title = %s,
                instructor = %s,
                review_ct = %s,
                level = %s,
                category = %s,
                skill = %s,
                rating= %s,
                video_ct= %s,
                duration= %s,
                publish_date= %s,
                update_date= %s
            WHERE course_id = %s;""")
    vars_to_update = (course_id, discount_price, price,
                        enrolled, title, instructor,review_ct,level,category,skill,rating,video_ct,duration,publish_date,update_date,course_id)
    curr.execute(query, vars_to_update)


def check_if_id_exists(curr, course_id): 
    query = ("""SELECT course_id FROM inflearn WHERE course_id = %s""")
    curr.execute(query, (course_id,))
    return curr.fetchone() is not None


def truncate_table(curr):
    truncate_table = ("""TRUNCATE TABLE inflearn""")
    curr.execute(truncate_table)


def append_from_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_table(curr, row['course_id'], row['discount_price'], row['price'], row['enrolled']
                          , row['title'], row['instructor'], row['review_ct'], row['level'], row['category'], row['skill'],
                          row['rating'], row['video_ct'], row['duration'], row['publish_date'], row['update_date'])

def update_db(curr,df):
    tmp_df = pd.DataFrame(columns=['course_id', 'discount_price', 'price',
                        'enrolled', 'title', 'instructor','review_ct','level','category','skill','rating','video_ct','duration','publish_date','update_date'])
    for i, row in df.iterrows():
        if check_if_id_exists(curr, row['course_id']): 
            update_row(curr, row['course_id'], row['discount_price'], row['price'], row['enrolled']
                          , row['title'], row['instructor'], row['review_ct'], row['level'], row['category'], row['skill'],
                          row['rating'], row['video_ct'], row['duration'], row['publish_date'], row['update_date'])
        else: 
            tmp_df = tmp_df.append(row)

    return tmp_df

In [12]:
#Main
import psycopg2 as ps

#database credentials
host_name = 'localhost'
dbname = 'projects'
port = 5432
username = 'postgres'
password = 'fhfflvhffl'
conn = None

#establish a connection to db
conn = connect_to_db(host_name, dbname, port, username, password)
curr = conn.cursor()

Connected!

In [13]:
#create table

create_table(curr)

In [14]:
#update data for existing id

new_df = update_db(curr,clean_df)
conn.commit()

/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)
/var/folders/70/pcfbq3d55qd2yhmz04vrn6ph0000gn/T/ipykernel_9153/3767400828.py:97: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df = tmp_df.append(row)

In [15]:
#insert new videos into db table

append_from_df_to_db(curr, new_df)
conn.commit()

In [16]:
#view data in db table

curr.execute("SELECT * FROM inflearn ORDER BY publish_date DESC LIMIT 1 ")
print(curr.fetchall())

[('329616', 0, 53900, 3, 'AWS (Amazon Web Service) 로 클라우드 시작하기', '김석우(Sean Kim)', 0, '초급', '              데브옵스 · 인프라, 클라우드', '              AWS', Decimal('0'), 29, '4시간 35분', datetime.date(2022, 11, 1), datetime.date(2022, 11, 1))]